# ===============================
# 🌍 Terraform Git Ignore Template
# ===============================

# 🔐 Credentials
credentials.json
*.secret.json
*.key.json
*.creds.json
!example*.json

# 💾 Terraform state and backup
*.tfstate
*.tfstate.*
crash.log
crash.*.loggit
terraform.tfstate.backup

# 📦 Terraform plan files
*.tfplan

# 🧩 Terraform working dir
.terraform/
.gcp/
.github/

# 🔧 Variable definition files
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars

# 🛠 IDE & OS artifacts
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*~
*.backup
*.orig


.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

